@use './mixins.scss' as *;
@use './variables.scss' as *;

header {
   position: sticky;
   top: 0;
   left: 0;
   z-index: 3
}

#container, .logo, .navbar {
  @include flex(space-around, center);
}

#container {
     width: 100%;
     padding: 10px 0px;
     background-color:white;
     position: relative;
     z-index: 3;
   

     .logo {
        width: 20%;
        justify-content: flex-end;
     }

     .img {
        width: 50px;
        height: 50px;

        img {
            @include objectFit;
        }
     }

  }

.nav-bar {
   width: 80%;
   display: flex;
   justify-content: center;
   align-items: baseline;
 
   .menu {
      display: flex;
      justify-content: center;

      .item {
        @include listStyle (inline-block);
        font-size:12px ;
        padding:10px 10px;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.3s ease;

        &:hover {
          border-bottom: 2px solid #0282f9;
        }

           a {
             color: black;
             @include linkStyle;

               &:hover {
                 color: $primary-color;
               }
            }
      }   

   }

   .search {
      width: 180px;
      margin-left: 30px;
      
    
   }
}
#jumbotron {
    width: 100%;
    height: 300px;

}

    .img-jumbo {
        width: 100%;
        height: 100%;
   
    
        & img {
            @include objectFit;
            object-position: top;
            
        }
    
}